{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <meta name="author" content="Your Name">
    <link rel="stylesheet" href="{% static 'bookcataloging/home.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        {% include "bookcataloging/navbar.html" %}
    </header>
    <main class="container mt-4">
        <h1>Create New Book</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group mb-2">
                <label for="Author">Author</label>
                <textarea class="form-control" id="Author" name="Author" rows="1"></textarea>
            </div>
            <div class="form-group mb-2">
                <label for="Genre">Genre</label>
                <select id="Genre" name="Genre" class="form-control">
                    {% for code, name in genre_choices %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="Rating">Rating</label>
                <select id="Rating" name="Rating" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="Review">Review</label>
                <textarea class="form-control" id="Review" name="Review" rows="2"></textarea>
            </div>
            <div class="form-group mb-2">
                <label for="Series">Series</label>
                <textarea class="form-control" id="Series" name="Series" rows="1"></textarea>
            </div>
            <div class="form-group mb-2">
                <label for="Location">Location</label>
                <textarea class="form-control" id="Location" name="Location" rows="1"></textarea>
            </div>
            <div class="form-group mb-2">
                <label for="Image">Image</label>
                <input type="file" class="form-control-file" id="book_image" name="Image" accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'bookcataloging:index' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </main>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <!--https://cs4640.cs.virginia.edu/ncd6fc/UVADormRater/-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Thomas Welch">
    <title>Book Home Page</title>
    <link rel="stylesheet" href="../static/bookcataloging/home.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar bg-body-tertiary nav-text" style="background-color: #232d4b">
            <div class="container-fluid">
                <a class="navbar-brand nav-text" href="#">Book Catalog</a>
                <form class="d-flex" role="search">
                    <span class="btn nav-btn" style="margin-right: 12px; color: #ECF0F1;">Hello, User</span>
                    <a href="{% url 'bookcataloging:book_recs' %}" class="btn nav-btn" style="margin-right: 12px; background-color: #ECF0F1">Recommendations</a>
                    <a href="#" class="btn nav-btn" style="margin-right: 12px; background-color: #ECF0F1">Log Out</a>
                    <a href="/accounts/google/login" class="btn nav-btn" style="background-color: #ECF0F1; margin-right: 12px;">Log In</a>
                    <a href="#" class="btn nav-btn" style="margin-right: 12px; background-color: #ECF0F1">Sign Up</a>
                    <a href="#" class="btn nav-btn" style="background-color: #ECF0F1; margin-right: 12px;">My Profile</a>
                </form>
            </div>
        </nav>
    </header>
    <main class="container mt-4 mt-5">
        <h1 class="main-title">
            Book Catalog
        </h1>

        <p class="welcome-blurb text-center">
            Welcome to Book Catalog! Search for a book to check out, find some recommendations, and more!
        </p>

        <form action="search.html" method="get">
        <div class="search-bar mt-5 mb-5">
        <input class="form-control" type="search" name="query" placeholder="Search for a book" aria-label="Search">
        </div>
        </form>
        


    </main>
</body>

</html>
