{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daria Slowinska">
    <title>{{ collection.name }}</title>
    <link rel="stylesheet" href="{% static 'bookcataloging/home.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        {% include "bookcataloging/navbar.html" %}
    </header>
    <main class="container mt-4 mt-5">
        <h2>Rate "{{ book.title }}"</h2>

        <div class="rating-form mt-5">
            <form method="post">
                {% csrf_token %}
                <label for="rating">Select your rating (1-5):</label>
                <select name="rating" id="rating" required>
                    <option value="">--Choose a rating--</option>
                    {% for i in "12345" %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <button 
                    type="submit" 
                    class="btn btn-primary"
                    style="background-color: rgba(62, 72, 183, 0.905);"
                >
                    Submit Rating
                </button>
            </form>
        </div>
    </main>
</body>
