{% load static %}
<link rel="stylesheet" href="{% static 'bookcataloging/home.css' %}">

<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-auto">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Disclaimer: This system is part of a class project. It is not monitored, and no real or sensitive information should be submitted.
    </div>
    <!-- Copyright -->
  </footer>