{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yuina Barzdukas">
    <title>Book Home Page</title>
    <link rel="stylesheet" href="{% static 'bookcataloging/home.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class ="d-flex flex-column min-vh-100">
    <header>
        {% include "bookcataloging/navbar.html" %}
    </header>
    <main class="flex-grow-1 container mt-4 mt-5">
        <h1 class="main-title">
            Book Catalog
        </h1>

        <p class="welcome-blurb text-center">
            Welcome to Book Catalog! Search for a book to check out, find some recommendations, and more!
        </p>

        <form action="{% url 'bookcataloging:search' %}" method="get">
            <div class="search-bar mt-5 mb-3">
                <input class="form-control" type="search" name="query" placeholder="Search for a book"
                    aria-label="Search">
            </div>
        </form>
        {% if user_role == "Librarian" %}
        <div class="d-flex justify-content-end">
            <a href="{% url 'bookcataloging:add_book' %}" class="btn btn-primary">Add Book</a>
        </div>
        {% endif %}


    </main>
</body>
<footer>
    {% include "bookcataloging/footer.html" %}
</footer>
</html>