{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yuina Barzdukas">
    <title>Search Results</title>
    <link rel="stylesheet" href="{% static 'bookcataloging/home.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>


<body class="d-flex flex-column min-vh-100">
    <header>
        {% include "bookcataloging/navbar.html" %}
    </header>
    <main class="container mt-4 mt-5 flex-fill">
        <h1 class="main-title">
            Book Catalog
        </h1>

        <p class="welcome-blurb text-center">
            Welcome to Book Catalog! Search for a book to check out, find some recommendations, and more!
        </p>

        <div class="d-flex justify-content-center align-items-center">
            <div class="w-50">
                <form action="{% url 'bookcataloging:index' %}" method="get">
                    <div class="form-group w-75 ">
                        <label for="search-category">Search By</label>
                        <select class="form-control" id="search_by" name="search_by" onchange="this.form.submit()">
                            <option value="title" {% if search_by == "title" %}selected{% endif %}>Book Title</option>
                            <option value="author" {% if search_by == "author" %}selected{% endif %}>Author</option>
                            <option value="genre" {% if search_by == "genre" %}selected{% endif %}>Genre</option>
                        </select>
                    </div>
                </form>
                    {% if search_by == "genre" %}
                        <form action="{% url 'bookcataloging:search' %}" method="get">
                            <input type="hidden" name="search_by" value="genre">
                            <div class="d-flex align-items-center gap-2">
                            <div class="form-group w-100">
                            <label for="genre">Search by Genre</label>
                            <select class="form-control" id="query" name="query">
                                <option value="all_genres">Select</option>
                                <option value="fantasy">Fantasy</option>
                                <option value="mystery">Mystery</option>
                                <option value="romance">Romance</option>
                                <option value="science_fiction">Science Fiction</option>
                                <option value="non_fiction">Non-fiction</option>
                                <option value="historical">Historical</option>
                                <option value="thriller">Thriller</option>
                            </select>
                            </div>
                            <button type="submit" class="custom-nav-button">Search</button>
                        </div>
                        </form>
                    {% elif search_by == "author" %}
                        <form action="{% url 'bookcataloging:search' %}" method="get">
                            <input type="hidden" name="search_by" value="author">
                            <div class="d-flex align-items-center gap-2">
                            <div class="form-group w-100">
                            <label for="query">Search by Author</label>
                            <input class="form-control" type="search"  id="query" name="query" placeholder="Author name">
                            </div>
                            <button type="submit" class="btn btn-primary ml-2 mt-3" style="background-color: #232d4b">Search</button>
                        </div>
                        </form>
                    {% else %}
                        <form action="{% url 'bookcataloging:search' %}" method="get">
                            <div class="d-flex align-items-center gap-2">
                                <div class="form-group w-100">
                                <label for="query">Search by Book Title</label>
                                <input class="form-control" type="search"  id="query" name="query" placeholder="Book title">
                                </div>
                            <button type="submit" class="btn btn-primary ml-2 mt-3" style="background-color: #232d4b">Search</button>
                        </div>
                        </form>
                    {% endif %}
         </div>
        </div>
</main>
</body>
<footer>
    {% include "bookcataloging/footer.html" %}
</footer>

</html>