<nav class="navbar bg-body-tertiary nav-text" style="background-color: #232d4b">
  <div class="container-fluid">
    <a class="navbar-brand nav-text" href="{% url 'bookcataloging:index' %}">Book Catalog</a>
    <form class="d-flex" role="search">
      <span class="btn nav-btn" style="margin-right: 12px; color: #ecf0f1"
        >Hello, User</span
      >
      <a
        href="{% url 'bookcataloging:book_recs' %}"
        class="btn nav-btn"
        style="margin-right: 12px; background-color: #ecf0f1"
        >Recommendations</a
      >
      <a
        href="#"
        class="btn nav-btn"
        style="margin-right: 12px; background-color: #ecf0f1"
        >Log Out</a
      >
      <a
        href="/accounts/google/login"
        class="btn nav-btn"
        style="background-color: #ecf0f1; margin-right: 12px"
        >Log In</a
      >
      <a
        href="#"
        class="btn nav-btn"
        style="margin-right: 12px; background-color: #ecf0f1"
        >Sign Up</a
      >
      <a
        href="{% url 'bookcataloging:profile' %}"
        class="btn nav-btn"
        style="background-color: #ecf0f1; margin-right: 12px"
        >My Profile</a
      >
    </form>
  </div>
</nav>
