<!DOCTYPE html>
<html lang="en">

<head>
    <!--https://cs4640.cs.virginia.edu/ncd6fc/UVADormRater/-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Yuina Barzdukas">
    <title>Search</title>
    <link rel="stylesheet" href="../../static/bookcataloging/home.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        {% include "bookcataloging/navbar.html" %}
    </header>
    <main class="container mt-4 mt-5">
        <h1 class="main-title">
            Search
        </h1>
        <form action="{% url 'bookcataloging:search' %}" method="get">
            <div class="search-bar mt-5 mb-5">
                <input class="form-control" type="search" name="query" placeholder="Search for a book"
                    aria-label="Search">
            </div>
        </form>

    </main>
</body>

</html>